<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
    <link rel="stylesheet"  href="./../static/css/style.css">

</head>
<body>
    <h2>Common Fruits</h2>
    <table class="rwd-table">
       <thead class="thead-dark">
          <tr>
             <th>Name</th>
             <th>Color</th>
             <th>Taste</th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <td>Apple</td>
             <td>Green and Red</td>
             <td>Sweet and Tart</td>
          </tr>
          <tr>
             <td>Banana</td>
             <td>Yellow</td>
             <td>Sweet and Mushy</td>
          </tr>
          <tr>
             <td>Mango</td>
             <td>Yellowish Green</td>
             <td>Tangy</td>
          </tr>
          <tr>
             <td>Orange</td>
             <td>Orange</td>
             <td>Sweet and Tangy</td>
          </tr>
          <tr>
             <td>Blueberry</td>
             <td>Blue</td>
             <td>Mild Sweetness</td>
          </tr>
       </tbody>
    </table>

 </div>

</body>
</html>
 <!-- /.container -->