{%include 'header.html' %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<h1>Factlab Database Modify Form</h1>
<form action="updaterecord" method="post">

    {%csrf_token%}
    <table border="1" cellspacing="10">
        <tr>
            <td>Claim IDs</td>
            <td><textarea name = 'claim_ids' rows="5" cols="20"></textarea></td>
        </tr>

    </table>
    <input type="submit" value="submit">   
</form>

    <div style="overflow-x:auto;">
        <table height = 100px; width =1000px class="rwd-table">
            <thead>
            <tr width="10%">
                <th>Claim ID</th>
                <th>Project</th>
                <th>Claim Source</th>
                <th>Claim</th>
                <th>Claim publish date</th>
                <th>Description</th>
                <th>Verdict</th>
                <th>Claimant</th>
                <th>Party</th>
                <th>Topic</th>
                <th>Subcategory</th>
                <th>Source link</th>
                <th>Verified Simplified</th>
            </tr>
            </thead>
            <tbody id="tests-table">
            </tbody>
            </table>
    </div>
    
    

<h2><a href="/home">Home</a></h2>




var newId = 1
var newTest = {'name':null, 'id':`test-${newId}`, 'result':null}

$('#add-test').on('click', function(){
    $('.form-wrapper').removeClass('hidden')
})


$('#test-result').on('keyup', function(){
    newTest.result = $(this).val()
    console.log(newTest)

})

$('#test-name').on('change', function(){
    newTest.name = $(this).val()
    console.log(newTest)
})

$('#create-test').on('click', function(){
    if(newTest.name == null){
        alert('No test selected!')
    }else{
        addRow(newTest)
        createTestPOST()
        $('#test-name').val('')
        $('#test-result').val('')
        $('.form-wrapper').addClass('hidden')
    }
})


function createTestPOST(){
    var url = '/createtest/'

    $.ajax({
        method:'POST',
        url:url,
        data:newTest,
        success:function(){

        }
    })

}

function updateTestPOST(data){
    var url = '/updatetest/'
    $.ajax({
        method:'POST',
        url:url,
        data:data,
        success:function(){
            
        }
    })


}

function deleteTestPOST(data){
    var url = '/deletetest/'
    $.ajax({
        method:'POST',
        url:url,
        data:data,
        success:function(){
            
        }
    })


}


var tests = []
var dataURL = '/testsapi/'
$.ajax({
    method:'GET',
    url:dataURL,
    success:function(response){
        tests = response
        console.log(tests)
        for (var i in tests){
            addRow(tests[i])
        }
    }
})




function addRow(obj){
    var row = `<tr scope="row" class="test-row-${obj.id}">
                   <td>${obj.name}</td>
                   <td id="result-${obj.id}" data-testid="${obj.id}"">${obj.result}</td>
                   <td>
                        <button class="btn btn-sm btn-info" disabled data-testid="${obj.id}"  id="save-${obj.id}">Save</button>
                        
                        <button class="btn btn-sm btn-danger hidden" data-testid="${obj.id}"  id="cancel-${obj.id}">Cancel</button>
                        <button class="btn btn-sm btn-primary hidden" data-testid="${obj.id}"  id="confirm-${obj.id}">Confirm</button>
                        
                   </td>
               </tr>`
    $('#tests-table').append(row)

    $(`#delete-${obj.id}`).on('click', deleteTest)
    $(`#cancel-${obj.id}`).on('click', cancelDeletion)
    $(`#confirm-${obj.id}`).on('click', confirmDeletion)
    $(`#save-${obj.id}`).on('click', saveUpdate)


    $(`#result-${obj.id}`).on('click', editResult)
    
}

function editResult(){
    var testid = $(this).data('testid')
    var value = $(this).html()

    $(this).unbind()
    $(this).html(`<input class="result form-control" data-testid=${testid} id="test-${testid}" type="text" value="${value}">`)

    $(`.result`).on('keyup', function(){
        var testid = $(this).data('testid')
        var saveBtn = $(`#save-${testid}`)
        saveBtn.prop('disabled', false)

    })

}

function saveUpdate(){
    console.log('Saved!')
    var testid = $(this).data('testid')
    var saveBtn = $(`#save-${testid}`)
    var row = $(`.test-row-${testid}`)

    saveBtn.prop('disabled', true)
    row.css('opacity', "0.5")

    var result = $(`#test-${testid}`).val()
    var data = {'id':testid, 'result':result}
    updateTestPOST(data)

    setTimeout(function(){
        row.css('opacity', '1')
    }, 2000)


}


function deleteTest(){
    var testid = $(this).data('testid')

    var deleteBtn = $(`#delete-${testid}`)
    var saveBtn = $(`#save-${testid}`)
    var cancelBtn = $(`#cancel-${testid}`)
    var confirmBtn = $(`#confirm-${testid}`)

    deleteBtn.addClass('hidden')
    saveBtn.addClass('hidden')

    cancelBtn.removeClass('hidden')
    confirmBtn.removeClass('hidden')
}

function cancelDeletion(){
    var testid = $(this).data('testid')

    var deleteBtn = $(`#delete-${testid}`)
    var saveBtn = $(`#save-${testid}`)
    var cancelBtn = $(`#cancel-${testid}`)
    var confirmBtn = $(`#confirm-${testid}`)

    deleteBtn.removeClass('hidden')
    saveBtn.removeClass('hidden')

    cancelBtn.addClass('hidden')
    confirmBtn.addClass('hidden')

}

function confirmDeletion(){
    var testid = $(this).data('testid')
    var row = $(`.test-row-${testid}`)
    row.remove()
    var data = {'id':testid}
    deleteTestPOST(data)

}
</script>